.NowPlaying {
  border: 1px solid var(--blue);
}

.NowPlaying .top {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--white);
}

.NowPlaying .top .icon {
  color: var(--gray);
  margin: 20px;
}

.NowPlaying .top .icon.active {
  color: var(--blue);
}

.NowPlaying .top .info {
  color: var(--gray);
  font-size: 16px;
  flex: 1;
  min-width: 0;
  line-height: 1.5;
  padding: 10px;
}

.NowPlaying .top .info p {
  text-align: center;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.NowPlaying .bottom {
  background-color: var(--lightest-gray);
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
}

.NowPlaying .bottom .menu-icon {
  margin: 20px;
}

.NowPlaying .bottom .slider-container {
  flex-grow: 1;
}
