@import "~bulma/sass/utilities/initial-variables"
@import "~bulma/sass/utilities/functions"

$blue: #3cb5ff
$magenta: #ee4bb5
$green: #01ec8f
$yellow: #feda43

$primary: $magenta
$info: $blue
$warning: $yellow
$success: $green
$danger: $magenta

$label-weight: 500
$title-weight: 500

@import "~bulma/bulma.sass"
@import "~bulma-extensions/bulma-pageloader/src/sass/index.sass"
