:root {
  --dark-gray:        #222222;
  --gray:             #666666;
  --light-gray:       #BBBBBB;
  --lighter-gray:     #EEEEEE;
  --white:            #FFFFFF;
  --blue:             #2196F3;
  --dark-blue:        #0d87E9;
  --green:            #4CAF50;
  --dark-green:       #439A46;
  --purple:           #9C27B0;
  --dark-purple:      #862197;
  --orange:           #FF9800;
  --dark-orange:      #E08600;
  --red:              #E51C23;
  --dark-red:         #CB171E;
}

body {
  color: var(--dark-gray);
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.846;
}

a {
  color: var(--blue);
  text-decoration: underline;
}

a:hover {
  color: var(--dark-blue);
}

hr {
  background-color: rgba(0, 0, 0, 0.3);
  height: 1px;
  border: none;
}
